/* Modificó el navegador*/
nav {
  display: flex;
  justify-content: center;
  background-color:red;
    }

/*Modificó la lista del navegador*/	
.menuinicial li {
  float:left;
  list-style:none;
  }
/*Modificó el menu del navegador*/
.menuinicial li a {
  background-color:#000;
  color:#fff;
  text-decoration:none;
  padding:10px 12px;
  display:block;
    }
/*Modificó el fondo de la pagina*/
body {
  color: black;
  background-image:url(Images/fondo.jpg);
  background-size: cover;
  width:100%;
  background-repeat:no-repeat;
  background-attachment: fixed;
      }
	  
/*Modificó el fondo la pagina de la saga*/
#fondo{
  color: black;
  background-image:url(Images/fondo2.jpg);
  background-size: cover;
  width:100%;
  background-repeat:no-repeat;
  background-attachment: fixed;
      }
	  
/*Modificó el artículo de la pagina principal*/	  
article{
  background-color: gray;
  width: 70%;
  border: white 5px solid;
  margin-left:3%;
}

/*Modificó el artículo de la página de la saga*/
.article{
  background-color: #3393FF;
  width: 40%;
  border: black 5px solid;
  margin-left:30%;
}

h1{
	text-align:center;
	font-size:30px;
}

p{
  font-family:Calibri,serif;
}

/*Modificó el párrafo de la página principal*/
.descripcio{
	text-align:center;
}

/*Modificó los párrafos de la página de la saga*/
.sagas{
	text-align:center;
	font-weight:bold;
	font-size:1.5em;
}

/*Modificó el parrafo*/
.sinopsis{
	text-align:center;
}

/*Modificó el boton*/
.boton {
  text-align: right;
  width: 95%;
}

h2{
	text-align:center;
}

/*Modificó el aside de las redes sociales*/
.social {
  position:absolute;
  right:30px;
  top:180px;
  background-color:#2df2b3;
  border:white 5px solid;
}

/*Modificó las imagenes de la página principal*/
.imagen {
	width:115px;
	height:90px;
	list-style:none;
}

/*Modificó las imagenes de la pagina de la saga*/
.imagen-saga{
	width:350px;
	height:500px;
}

/*Modificó la lista de las redes sociales*/
.social ul {
  list-style:none;
  margin-right:30px;

}

/*Modificó el pie de la página*/
#footer{
  text-align: right;
  font-size: 30px;
  font-weight:bold;
  color:white;
  width:98%;
}

/*Modificó el pie de la página de la saga*/
.footer{
  text-align: right;
  font-size: 30px;
  font-weight:bold;
  color:black;
  width:98%;
}
